* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--progress-bar-fill-duration: 3s;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: url(./img/Musical-notes-wallpaper-singing-38409245-1920-1080.jpg) no-repeat;
}
#buttons {
	display: flex;
	flex-direction: column;
	margin: 20px;
}
#play-button {
	background-color: royalblue;
}
#play-button,
#record-button {
	padding: 8px 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	border: solid 1px transparent;
	color: white;
	font-size: xx-large;
}
#play-button:hover,
#record-button:hover {
	border: solid 1px black;
	box-shadow: 0px 0px 10px black;
}
.progress-bar {
	height: 46vh;
	width: 20px;
	margin-right: 20px;
	border-radius: 2px;
	position: relative;
}
.progress-bar-content {
	position: absolute;
	bottom: 0px;
	width: 18px;
	border-radius: 2px;
	background-color: royalblue;
}
.progress-bar-content-animation {
	animation: fill-progress-bar var(--progress-bar-fill-duration) linear;
}
/* animación de la barra */
@keyframes fill-progress-bar {
	from {
		height: 0px;
	}
	to {
		height: 100%;
	}
}
#piano {
	width: 70vw;
	height: 50vh;
	border: solid 1px black;
	display: flex;
	background-color: white;
	box-shadow: 0px 0px 10px black;
}
#left-side {
	width: 30vw;
	display: flex;
	justify-content: space-between;
}
#right-side {
	width: 40vw;
	display: flex;
	justify-content: space-between;
}
.key {
	border: solid 1px black;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.black {
	width: 7.5vw;
	height: 30vh;
	background-color: black;
	color: white;
	z-index: 2;
	/* se modifican los margenes  para que ocupen la mitad del ancho de las teclas blancas */
	margin-right: -5vw;
	margin-left: -5vw;
}
.white {
	color: black;
	width: 10vw;
}
.activeKey {
	background-color: blueviolet;
}

.hide {
	display: none !important;
}
.recording {
	background-color: red;
}
.not-recording {
	background-color: green;
}
/* PANTALLAS PEQUEÑAS */

@media (max-width: 720px) {
	body {
		transform: rotate(90deg);
		overflow: hidden;
	}
	#buttons {
		justify-self: center;
	}
	.progress-bar {
		height: 240px;
		margin-right: 30px;
	}
	#piano {
		min-width: max-content;
		max-height: 340px;
	}
	#left-side {
		min-width: 225px;
	}
	#right-side {
		min-width: 300px;
	}
	.black {
		width: 50px;
		margin-right: -30px;
		margin-left: -30px;
	}
	.white {
		width: 75px;
	}
}

@media (max-width: 370px) {
	#piano {
		max-height: 240px;
	}
	.black {
		margin-right: -35px;
		margin-left: -35px;
		height: 150px;
	}
}
