* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--progress-bar-fill-duration: 3s;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: url(./img/Musical-notes-wallpaper-singing-38409245-1920-1080.jpg) no-repeat;
}
.container {
	transform: rotate(90deg);
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#buttons {
	display: flex;
	flex-direction: column;
	margin: 20px;
	margin-left: 80px;
}
#play-button {
	background-color: royalblue;
}
#play-button,
#record-button {
	padding: 8px 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	border: solid 1px transparent;
	color: white;
	font-size: xx-large;
}
#play-button:hover,
#record-button:hover {
	border: solid 1px black;
	box-shadow: 0px 0px 10px black;
}
.progress-bar {
	height: 60vw;
	width: 20px;
	margin-right: 20px;
	border-radius: 2px;
	position: relative;
}
.progress-bar-content {
	position: absolute;
	bottom: 0px;
	width: 18px;
	border-radius: 2px;
	background-color: royalblue;
}
.progress-bar-content-animation {
	animation: fill-progress-bar var(--progress-bar-fill-duration) linear;
}
/* animación de la barra */
@keyframes fill-progress-bar {
	from {
		height: 0px;
	}
	to {
		height: 100%;
	}
}
#piano {
	width: 70vh;
	height: 80vw;
	border: solid 1px black;
	display: flex;
	background-color: white;
	box-shadow: 0px 0px 10px black;
}
#left-side {
	width: 30vh;
	display: flex;
	justify-content: space-between;
}
#right-side {
	width: 40vh;
	display: flex;
	justify-content: space-between;
}
.key {
	border: solid 1px black;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.black {
	width: 7.5vh;
	height: 45vw;
	background-color: black;
	color: white;
	z-index: 2;
	/* se modifican los margenes  para que ocupen la mitad del ancho de las teclas blancas */
	margin-right: -5vh;
	margin-left: -5vh;
}
.white {
	color: black;
	width: 10vh;
}
.activeKey {
	background-color: blueviolet;
}

.hide {
	display: none !important;
}
.recording {
	background-color: red;
}
.not-recording {
	background-color: green;
}

@media (min-width: 400px) {
	.progress-bar {
		height: 70vw;
	}
	#piano {
		height: 70vw;
	}
	.black {
		height: 40vw;
	}
}

@media (min-width: 720px) {
	.container {
		transform: unset;
	}
	#buttons {
		margin-left: unset;
	}
	.progress-bar {
		height: 55vh;
	}
	#piano {
		width: 70vw;
		height: 60vh;
	}

	#left-side {
		width: 30vw;
	}
	#right-side {
		width: 40vw;
	}
	.black {
		width: 7.5vw;
		height: 35vh;
		/* se modifican los margenes  para que ocupen la mitad del ancho de las teclas blancas */
		margin-right: -5vw;
		margin-left: -5vw;
	}
	.white {
		width: 10vw;
	}
}
